.page {
    display: grid;
    padding: 1rem;
    gap: 2rem;
}

.page .qr-section.links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.page .btn-link {
    background: white;
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    color: #1a1a1a;
    border: solid 1px #afafaf;
}
