/node_modules
/packages/repl
/packages/portal/server
/packages/*/starters
/packages/*/node_modules
/packages/*/dist
/packages/*/docs/dist
/packages/provider/src/venom/tokens
session.json
chats/*
!chats/.gitkeep
media/*
!media/.gitkeep
mediaSend/*
!mediaSend/.gitkeep
!mediaSend/nota-de-voz.mp3
.env
.wwebjs_auth
/session
/session/*
/tokens
/tokens/*
packages/cli/config.json
config.json
.yarnrc.yml
coverage/
*.lcov
log
log/*
*.log
*.tgz
lib
tmp/
.yarn/*
!.yarn/releases
!.yarn/plugins/@yarnpkg/plugin-postinstall.cjs
.fleet/
example-app*/
base-*/
test-*.json
!starters/apps/base-*/
qr.svg
package-lock.json
yarn-error.log
.npmrc
# Local Netlify folder
.netlify
.secrets

# managed
**.data.json
**.node-persist**
**_IGNORE_**
# end managed
